<%- include("partials/header") %> 

<h1>About Us</h1>
<p>Tempat peminjaman buku terbaik diseluruh indonesia dengan pelayanan serba digital sehingga memudahkan anda agar tidak perlu keluar rumah!</p>

<%- include("partials/footer") %> 