<%- include("partials/header") %> 

<h1>Contact Us</h1>
<h3>VA, Sunset Anarki TGR, 15710</h3>
<h3>+621234567432</h3>
<a href = "mailto:va@gmail.com?subject = Halo kawan! & body = Message">
    Send Feedback
</a>

<%- include("partials/footer") %> 